body{
    margin: 0;
}

#root {
  right: 0;
  display: flex;
    flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.App {
  flex: 1;
  display: flex;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}