#root {
  right: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.App {
  flex: 1;
  display: flex;
}

main {
  flex: 1;
  display: flex;
  flex-direction: colum;
}

.fiche {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.fiche .ficher-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-image: radial-gradient(circle at -50px 100%, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.fiche .fiche-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.fiche .description {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 470px;
  color: white;
}
